@import '../../../../styles/variable';

.list {
  width: 100%;
  margin: 20px 0;
  position: relative;
}
.listheader {
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 10px;
}

.title {
  color: $secondary-blue;
  margin-left: 20px;
}

.headertag {
  display: inline-block;
  // margin-left: 20px;
  span {
    display: inline-block;
  }
}

.nametag {
  font-weight: 600;
}

.subjects {
  color: $magenta;
  display: block;
  padding-left: 60px;
  line-height: 10px;
  position: absolute;
  top: 35px;
}