.reminderwrapper {
  background: #ffffff;
  margin: 0 20px;
  padding: 20px;
}
.calendar {
  display: table;
  border: 0.5px solid #9B5DE5;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 5px;
  background: #ffffff;
  width: 90%;
  margin-left: 0 !important;
  margin-right: 20px !important;

}
.calendaritem {
  display: table-cell;
  font-weight: 500;
  padding: 9px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: all .5s ease-in;

  &:hover {
    background: linear-gradient(166.46deg, #EBFAFF -0.1%, #FDECF7 100.01%);
    border-radius: 10px;
    cursor: pointer;
  }
}
.day {
  color: magenta;
  font-weight: 600;
  display: block;
  font-size: 29px;
  text-align: center;
}

.active {
  background: linear-gradient(166.46deg, #EBFAFF -0.1%, #FDECF7 100.01%);
  border-radius: 10px;
}

.time {
  font-size: 12px;
  text-transform: lowercase;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.calendartitle {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px 0;
}


.buttons {
  // margin-left: 20px;
  button {
    background: #ffffff;
    border: solid 1px #9B5DE5;
    border-radius: 6px;
    color: #9B5DE5;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 12px;
  }
}


.select {
  color: #9B5DE5;
  border-radius: 6px;
  border: solid 1px #9B5DE5;
  padding: 5px;
  padding: 5px;
  margin: 0;

  i {
    margin-left: 0;
    margin-right: 10px;
  }

  select {
    font-size: 12px;
    border: none;
    &:focus {
      border: none;
      outline: none;
    }
  }
}


.reminderList {
  width: 70%;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.reminderitem {
  width: 100%;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  background: #F4EDFC;
  border-radius: 10px;
  padding: 10px 20px;  
  color: #000000;
  margin: 20px 0;

  div {
    &:first-child {
      span {
        font-size: 14px;
        line-height: 21px;
        font-weight: normal;
        color: #9B9B9B;
        display: block;
      }
    }
  }

  span {
    &:last-child {
      font-weight: 600;
    }
  }
}

.reminder {
  margin: 20px 0;
}


.reminderform {
  
  h4, h6{
    color: magenta;
  }

  input, select {
    border: none;
    background: #EBFAFF;
    border-radius: 10px;
    // padding: 15px;
    &:focus {
      background: #EBFAFF;
    }
    &::placeholder {
      font-size: 14px;
      color: #9B9B9B !important;
    }
  }

  // input {
  //   padding: 15px;
  // }

  // select {
  //   option {
  //     font-size: 14px !important;
  //     display: none !important;
  //   }
  // }

}

.formgroup {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 678px) {
  .calendar {
    width: 100%;
  }

  .calendaritem {
    display: inline-block;
  }

  .reminderwrapper {
    margin: 0 5px;
  }
  .reminderList, .calendartitle{
    width: 100%;
  }

  .calendartitle {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .reminderitem {
    font-size: 12px;
  }

  .reminderform {
    h4 {
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1068px) {
  .calendar {
    padding: 0;
  }

  .calendaritem {
    display: inline-block;
  }

  // .day {
  //   font-size: 12px;
  // } 
  // .time {
  //   font-size: 12px;
  // }
}