// Variable declaration/instatiation


$bg-primary: #ffffff;
// $bg-primary: #FFFCEB;
$white: #FFFFFF;
$primary: #4166f5;
$primary-yellow: #4166f5;
$secondary-yellow: #4166f5;
// $primary-yellow: #FFC107;
// $secondary-yellow: #FEE440;
$secondary-blue: #00BBF9;
$magenta: #F15BB5;
$purple: #9B5DE5;
$opaque-bg: rgba(255, 255, 255, 0.6);
$light_blue: #EBFAFF;
// Text
$heading_color: #161611;
$text-color: #161611;
$sub-heading-color: #00BBF9;
$black: #000000;


// Buttons
$button-bg: #4166f5;
// $button-bg: #FEE440;
$button-radius: 20px;

$sidebar-width: 250px;